.todo-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(128, 128, 128, 0.7);
    text-align: center;
  }
  h1{
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
    cursor: pointer;
  }
  li{
    font-size: 18px;
    font-weight: 600;
  }
.eliminar-btn{
  background-image: url(borrar-plugins-wordpress.png);
  background-color: none;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}